body {
  background: #333;
  color: #fff;
  font-family: "Merriweather", serif; }

.navbar {
  border-bottom: 3px solid #008ed6;
  opacity: 0.8; }

.nav-item {
  font-size: 1.1rem;
  padding-right: 20px; }

/*
.logo{
  margin-left: 150px;
  font-size: 25px;
}
.icon{
  margin-left: 500px;
}*/
#home-section {
  background-image: url("../img/social.jpeg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .fa {
    color: #008ed6;
    background: white;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

.ob {
  opacity: 0.8; }

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px; }

#explore-section {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  #explore-section .fa {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#share-head-section, #create-head-section {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  #share-head-section .fa, #create-head-section .fa {
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }
